body { 
    height:100%
    width:100%;
   overflow-x: hidden;

}
a{
    color: #000;
text-decoration : none;
}
img {
    display: inline-block;
    width: 100%; // Show 4 images in a row normally
    height: auto;
}

/*@media  {*/
  /*img {*/
    /*width: 100%; // Override width to show only one image in a row on smaller screens*/
  /*}*/
/*}*/

footer {
    font-family:Lucida Console;
    background-color: #1d2124;
    right : 0;
    /*position: fixed;*/
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
    text-align: right;
    padding: 10px 10px 10px 10px;
}
footer a {
    color:#fff;
    font-size:15px;
}


#signin { 
    color:#fff;
    padding-right: 10px;
    padding-left: : 10px;
    background-color: #000000 ;
}
h2{
    padding-left: 15px;
    color: #fff;
    background-color: #343a40;
}

#got_page {
        font-family:Lucida Console;
    background-color: #1d2124;
    }

.btn{
    float:right;
}
