body {
    font-family: cursive ;
/*    background-color: black;*/
/*    color: aliceblue;*/
    text-align: center;
}

a {
    text-decoration: none;
    color:black; 
    font-size: 25;
}

Image {
    width:10px;
    height:29px;
}


hr {
    width: auto;
    height: 3px;
    background-color: black
}

.menu li{
    padding: 20px;
    text-align: left;
    display: inline;
}

#Download {
    color: royalblue;
    
    
}
